---
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/Sidebar';

interface Props {
  title: string;
  currentPath: string;
}

const { title, currentPath } = Astro.props;
---

<BaseLayout title={title}>
  <div class="max-w-[1400px] mx-auto lg:flex">
    <Sidebar client:load currentPath={currentPath} />
    <main class="flex-1 min-h-[calc(100vh-84px)] px-6 py-8">
      <slot />
    </main>
  </div>
</BaseLayout>
